# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environments
venv/

# secrets
.env
.env/
.env.*

# models / heavy files
*.pt
*.pth
*.onnx
*.bin

# logs
*.log
VLM_Client/logs/*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# datasets
data/
datasets/

# Jupyter
.ipynb_checkpoints/

# build
dist/
build/

VLM_Client/analisis_modelos.md